<div class="m-container">
  <div class="cs offer-container">
    <h4>What We Offer</h4>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt fugit eligendi deleniti iure quo corrupti
      voluptatum voluptatem?</p>
    <a href="">See all services ></a>
  </div>
  <div class="cs service-container">
    <img src="../../../assets/images/Group 1.jpg" alt="">
    <h4>Physical Therapy</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In hic eaque eveniet itaque voluptates cupiditate
      laboriosam, tenetur error sapiente. Possimus dolo</p>
    <a href="">Find out more ></a>
  </div>
  <div class="cs service-container">
    <img src="../../../assets/images/Group 1.jpg" alt="">
    <h4>Chiropractic Therapy</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In hic eaque eveniet itaque voluptates cupiditate
      laboriosam, tenetur error sapiente. Possimus dolo</p>
    <a href="">Find out more ></a>
  </div>
  <div class="cs service-container">
    <img src="../../../assets/images/Group 1.jpg" alt="">
    <h4>Massage Therapy</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In hic eaque eveniet itaque voluptates cupiditate
      laboriosam, tenetur error sapiente. Possimus dolo</p>
    <a href="">Find out more ></a>
  </div>

</div>
