<div class="landing-services-container">
    <div class="service-container">
        <div class="service">
            <img src="../../../assets/icons/file-invoice-solid.svg" alt="">
            <div class="service-content">
                <h3 class="service-title">Medical Billing</h3>
                <div class="service-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
                    veniam placeat pariatur ipsa eligendi obcaecati ipsam non laborum iusto quibusdam. Sequi
                    necessitatibus, voluptas mollitia iure nihil fugiat facere harum vel.</div>
            </div>
        </div>
    </div>
</div>
