<div class="about-container">
  <div class="about-content-container">
    <h3>About Us</h3>
    <p class="first-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab quae modi doloremque dolorum illo
      expedita deleniti
      similique nihil minus vitae magni in, cumque quod hic. Doloribus eos vel consectetur veritatis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus sint eius cupiditate officia commodi quasi.</p>
    <button class="learn-more">Learn More</button>
  </div>
  <div class="about-img-container">
    <img src="../../../assets/images/Group 1.jpg" alt="">
  </div>
</div>
