<div class="container">
  <div class="image-c">

  </div>
  <div class="content-c">
    <h4>Why Choose Us</h4>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi nisi reiciendis rem recusandae deserunt libero
      facilis aliquam exercitationem itaq</p>
    <div class="numbers-c">
      <div class="nmb">
        <h5>3K</h5>
        <p>Happy Customers</p>
      </div>
      <div class="nmb">
        <h5>7</h5>
        <p>Years of Experience</p>
      </div>
      <div class="nmb">
        <h5>100%</h5>
        <p>Satisfaction</p>
      </div>
    </div>
  </div>
</div>
