<div class="bar-container">
  <div class="cs contact-location">
    <img src="../../../assets/icons/file-invoice-solid.svg" alt="">
    <div class="content">
      <h4>Visit Our Location</h4>
      <p>1234 Main Street</p>
    </div>
  </div>

  <div class="cs contact-phone">
    <img src="../../../assets/icons/file-invoice-solid.svg" alt="">
    <div class="content">
      <h4>Call us today</h4>
      <a href="">+(123) 456 7890</a>
    </div>
  </div>
  <div class="cs contact-email">
    <img src="../../../assets/icons/file-invoice-solid.svg" alt="">
    <div class="content">
      <h4>Send us a message</h4>
      <a href="">info@mysite.com</a>
    </div>
  </div>
  <div class="cs contact-hours">
    <img src="../../../assets/icons/file-invoice-solid.svg" alt="">
    <div class="content">
      <h4>Opening hours</h4>
      <p>Mon-Fri 7AM - 5PM</p>
    </div>
  </div>

</div>
