
@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px 20px 10px;
  width: 510px;
  border: .8px solid lightgrey;
  margin-bottom: 40px;
}

.review-container img {
  margin-bottom: 1.5rem;
  border-radius: 50%;
  width: 50%;
  height: 75px; 
  width: 75px;
}

.review-container h3 {
  margin-bottom: 1rem;
}

.review-container p {
  margin-bottom: 1.5rem;
}

.temp {
  padding: 0 10px;
}

.header {
  margin-bottom: 4rem;
  margin-top: 75px;
  font-size: 27px;
  text-align: center;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h3 {
  padding-bottom: 20px;
}

.pink-line {
  height: 2px;
  width: 100px;
  background-color: pink;
}