<div class="container" (window:resize)="onResize($event)">
  <div class="header">
    <h3>Happy Customers</h3>
    <div class="pink-line"></div>
  </div>
  <swiper [slidesPerView]="revShown" [spaceBetween]="30" [keyboard]="{
    enabled: true
  }" [pagination]="{
    clickable: true
  }" class="mySwiper">
    <ng-template class="temp" swiperSlide>
      <div class="review-container">
        <img src="https://themewagon.github.io/physicaltherapy/images/person_2.jpg" alt="profile picture">
        <h3>Test Name</h3>
        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem similique soluta voluptate expedita ea.
          Fugiat tempore, praesentium excepturi quae perspiciatis commodi est quidem optio eligendi suscipit dolore odit
          voluptates consectetur!"</p>
      </div>
    </ng-template>
    <ng-template class="temp" swiperSlide>
      <div class="review-container">
        <img src="https://themewagon.github.io/physicaltherapy/images/person_2.jpg" alt="profile picture">
        <h3>Test Name</h3>
        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem similique soluta voluptate expedita ea.
          Fugiat tempore, praesentium excepturi quae perspiciatis commodi est quidem optio eligendi suscipit dolore odit
          voluptates consectetur!"</p>
      </div>
    </ng-template>
    <ng-template class="temp" swiperSlide>
      <div class="review-container">
        <img src="https://themewagon.github.io/physicaltherapy/images/person_2.jpg" alt="profile picture">
        <h3>Test Name</h3>
        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem similique soluta voluptate expedita ea.
          Fugiat tempore, praesentium excepturi quae perspiciatis commodi est quidem optio eligendi suscipit dolore odit
          voluptates consectetur!"</p>
      </div>
    </ng-template>
    <ng-template class="temp" swiperSlide>
      <div class="review-container">
        <img src="https://themewagon.github.io/physicaltherapy/images/person_2.jpg" alt="profile picture">
        <h3>Test Name</h3>
        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem similique soluta voluptate expedita ea.
          Fugiat tempore, praesentium excepturi quae perspiciatis commodi est quidem optio eligendi suscipit dolore odit
          voluptates consectetur!"</p>
      </div>
    </ng-template>
  </swiper>
</div>
